VideoRentalSystem/VideoRentalSystem/Loaders/xml/countries.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="countries">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="country">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="code" type="xs:string" use="required" />
                <xs:attribute name="handle" type="xs:string" use="required" />
                <xs:attribute name="continent" type="xs:string" use="required" />
                <xs:attribute name="iso" type="xs:unsignedShort" use="required" />
                <xs:attribute name="alt" type="xs:string" use="optional" />
                <xs:attribute name="boost" type="xs:unsignedByte" use="optional" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>